.App {
  text-align: center;
  min-height: 100vh;

  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.App-header {
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.App-footer {
  width: 100%;
  height: 50px;

  position: absolute;
  bottom: 0;

  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}
